button{
    background-color: rgb(57, 112, 112);
    height: 50px;
    width: 150px;
    border-radius: 15px;
    
}
h4{
    color:rgb(243, 239, 239);
}
p{
    color: red;
}
h3{
    color: darkblue;
}
img{
    width: 20%;
    height: 20%;
}